<app-menu></app-menu>
<body style="padding: 30px;">
    <h1 class="ui dividing header">Meus pedidos</h1>
    
    <!--<form [formGroup]="filtroStatus" class="ui form">
    <div class="one field">
        <div class="field">
        <label for="tamanho">Situação:</label>
        <select formControlName="filtro" (change) ="atualizaFiltro(filtroStatus)">
            <option>Selecione...</option>
            <option *ngFor="let status of listStatus">
                {{status.descricao}}
            </optSion>
        </select>
        </div>
    </div>
    </form>-->

    <table class = "ui celled table" style="padding: 30px;">
        <thead>
            <th>Situação</th>
            <th>Ações</th>
            <th>Produtos</th>
            <th>Data do pedido</th>
            <th>Valor total</th>
            <th>Forma de pagamento</th>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of pedidos">
                <td>{{pedido.statusPedido.descricao}}</td>
                <td>
                    <button *ngIf="statusPedidoConstantes.EM_PROCESSAMENTO == pedido.statusPedido.descricao" class = "ui mini button" style="margin: 5px;" (click)="openModal(template1, pedido)">Cancelar pedido</button>
                    <button *ngIf="statusPedidoConstantes.ENTREGUE == pedido.statusPedido.descricao" class = "ui mini button" style="margin: 5px;" (click)="openModal(template2, pedido)">Solicitar troca</button>
                </td>
                <td>
                <a *ngFor="let item of pedido.itensPedido" [routerLink]="['../detalhes-produto']" [queryParams]="{idVestimenta: item.vestimenta.id}">
                    {{item.vestimenta.categoriaVestimenta.nome}} 
                    {{item.vestimenta.marca.nome}} 
                    {{item.vestimenta.cor}} 
                    - Quantidade: {{item.quantidade}} <br>
                </a>
                
                </td>
                <td>{{formatDate(pedido.data)}}</td>
                <td>R${{pedido.valor.toFixed(2)}}</td>
                <td *ngIf="pedido.cartao">Cartão de Crédito - {{pedido.cartao.nomeImpresso}}, {{pedido.cartao.numeroCartao}} - {{pedido.cartao.bandeiraCartao}}</td>
                <td *ngIf="pedido.cupomTroca">Cupom de Troca</td>
            </tr>
        </tbody>
    </table>
</body>

<ng-template #template1>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Deseja realmente cancelar o pedido?</h4>
        <button type="button" class="close pull-right" 
            aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-footer">
        <button type="submit" (click)="cancelarPedido(pedidoOperacao)" class="ui primary button">Confirmar</button>
        <button class="ui button" (click)='modalRef.hide()'>Cancelar</button>
    </div>
</ng-template>

<ng-template #template2>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Informe o(s) produto(s) e o motivo da troca</h4>
        <button type="button" class="close pull-right" 
            aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-bordered table-hover table-sm display">
            <thead>
                <tr>
                    <th>Selecionar</th>
                    <th>Categoria</th>
                    <th>Marca</th>
                    <th>Cor</th>
                    <th>Tamanho</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pedidoOperacao.itensPedido; index as i">
                    <td><input type="checkbox" id="check{{item.id}}" (change)="itemSelecionado(item.id, item)"></td>
                    <td>{{item.vestimenta.categoriaVestimenta.nome}}</td>
                    <td>{{item.vestimenta.marca.nome}}</td>
                    <td>{{item.vestimenta.cor}}</td>
                    <td>{{item.vestimenta.tamanho}}</td>
                    <td>{{(item.vestimenta.valor * item.quantidade).toFixed(2)}}</td>
                    <i class="minus link icon" (click)="diminuiQuantidade(i)"></i> {{item.quantidade}} <i class="plus link icon" (click) = "aumentaQuantidade(i)"></i>
                </tr>
            </tbody>
        </table>
        <div class="ui form">
            <div class="field">
                <label>Motivo:</label>
                <select id="motivo">
                    <option>Selecione...</option>
                    <option>O produto chegou com algum defeito</option>
                    <option>O produto não serviu</option>
                    <option>O produto não é do jeito que aparentava nas imagens</option>
                    <option>Outro</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" (click)="solicitarTroca()" class="ui primary button">Confirmar</button>
        <button class="ui button" (click)='modalRef.hide()'>Cancelar</button>
    </div>
</ng-template>